@model IEnumerable<WebDeploy.Models.PackageModel>
@using WebDeploy.Utils
@{
    ViewBag.Title = "上传Web包";
}
<h2>已上传的Web包</h2>

<p>
    @Html.ActionLink("上传新的Web包", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackageSize)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Verified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PackageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackageName)
            </td>
            <td>
                @Html.Raw(item.PackageSize > 1024 * 1024 ? string.Format("{0:f2}M", item.PackageSize * 1.0 / 1024 / 1024) : "小于1M")
            </td>
            <td>
                @item.CreateTime.GetShortName()
            </td>
            <td>
                @Html.Raw(item.Verified ? "<span style='color:green'>是</span>" : "<span style='color:brown'>否</span>")
            </td>
            <td>
                @Html.Raw("/upload/" + item.File)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Verified == false)
                {
                    <form action="/Package/SetVerified" method="post">
                        <input type="hidden" value="@item.PackageId" name="PackageId">
                        <input type="submit" value="通过验证" />
                    </form>
                }
                @Html.ActionLink("删除", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }



</table>
